@model ProductManagement.Models.Category.ModifyCategory

@{
    ViewData["Title"] = "Modify";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}




<hr />
<div class="main-grid">
    <h1>Edit Category</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Category" asp-action="Modify" method="post">
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
    <a class="btn btn-dark" asp-controller="Category" asp-action="Index">
        <i class="fas fa-backward">
        </i>
        Back
    </a>
</div>



