<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="~/LogInAssets/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/LogInAssets/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/LogInAssets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="~/LogInAssets/css/style.css" rel="stylesheet" />
    <title>Sign Up #6</title>
</head>
<body>
    <div class="d-lg-flex half container">
        @RenderBody()
    </div>
    <script src="~/LogInAssets/js/jquery-3.3.1.min.js"></script>
    <script src="~/LogInAssets/js/popper.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/LogInAssets/js/bootstrap.min.js"></script>
    <script src="~/LogInAssets/js/main.js"></script>


</body>
</html>
